src/parser/test/data/performance/LinkedIn-v1/schemas/activity-xml-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="activity">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="content-type"/>
        <xs:element type="xs:string" name="body"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="locale"/>
    </xs:complexType>
  </xs:element>
</xs:schema>