src/parser/test/data/performance/LinkedIn-v1/schemas/connections-xml-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="connections">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="person">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="id"/>
              <xs:element type="xs:string" name="first-name"/>
              <xs:element type="xs:string" name="last-name"/>
              <xs:element type="xs:string" name="headline"/>
              <xs:element name="location">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element name="country">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:short" name="code"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="industry"/>
              <xs:element name="api-standard-profile-request">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:anyURI" name="url"/>
                    <xs:element name="headers">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="http-header">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="name"/>
                                <xs:element type="xs:string" name="value"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="site-standard-profile-request">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:anyURI" name="url"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:anyURI" name="picture-url"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:short" name="total"/>
    </xs:complexType>
  </xs:element>
</xs:schema>