src/parser/test/data/performance/LinkedIn-v1/schemas/error-xml-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="error">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:short" name="status"/>
        <xs:element type="xs:long" name="timestamp"/>
        <xs:element type="xs:string" name="request-id"/>
        <xs:element type="xs:byte" name="error-code"/>
        <xs:element type="xs:string" name="message"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>