src/parser/test/data/performance/LinkedIn-v1/schemas/jobBookmark-xml-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="job-bookmark">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="job">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="id"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>