src/parser/test/data/performance/LinkedIn-v1/schemas/jobBookmarks-xml-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="job-bookmarks">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="job-bookmark" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="is-applied"/>
              <xs:element type="xs:string" name="is-saved"/>
              <xs:element type="xs:long" name="saved-timestamp"/>
              <xs:element name="job">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="id"/>
                    <xs:element type="xs:string" name="active"/>
                    <xs:element name="company">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:int" name="id"/>
                          <xs:element type="xs:string" name="name"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="position">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="title"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="description-snippet"/>
                    <xs:element type="xs:long" name="posting-timestamp"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:byte" name="total"/>
    </xs:complexType>
  </xs:element>
</xs:schema>