src/parser/test/data/performance/LinkedIn-v1/schemas/jobSuggestions-xml-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="job-suggestions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="jobs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="job" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="id"/>
                    <xs:element name="company">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element type="xs:short" name="id" minOccurs="0"/>
                          <xs:element type="xs:string" name="name" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="salary" minOccurs="0"/>
                    <xs:element name="job-poster">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="id"/>
                          <xs:element type="xs:string" name="first-name"/>
                          <xs:element type="xs:string" name="last-name"/>
                          <xs:element type="xs:string" name="headline"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="description-snippet"/>
                    <xs:element type="xs:string" name="location-description"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="total"/>
            <xs:attribute type="xs:byte" name="count"/>
            <xs:attribute type="xs:byte" name="start"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>