src/parser/test/data/performance/LinkedIn-v1/schemas/jobUpdate-xml-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="job">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="position">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="description"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="compensation">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="salary">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="description"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>