src/parser/test/data/performance/LinkedIn-v1/schemas/networkStats-xml-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="network-stats">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="property" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:short">
                <xs:attribute type="xs:string" name="key" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:byte" name="total"/>
    </xs:complexType>
  </xs:element>
</xs:schema>