src/parser/test/data/performance/LinkedIn-v1/schemas/people-share-xml-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="share">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="comment"/>
        <xs:element name="content">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="title"/>
              <xs:element type="xs:string" name="description"/>
              <xs:element type="xs:string" name="submitted-url"/>
              <xs:element type="xs:anyURI" name="submitted-image-url"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="visibility">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="code"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
