src/parser/test/data/performance/LinkedIn-v1/schemas/peopleSearch-xml-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="people-search">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="people">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="person" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="id"/>
                    <xs:element type="xs:string" name="first-name"/>
                    <xs:element type="xs:string" name="last-name"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:integer" name="total"/>
            <xs:attribute type="xs:integer" name="count"/>
            <xs:attribute type="xs:integer" name="start"/>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:integer" name="num-results"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>