src/parser/test/data/performance/LinkedIn-v1/schemas/post-xml-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="post">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="id"/>
        <xs:element name="parent-group">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="id"/>
              <xs:element type="xs:string" name="name"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="type">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="code"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="creator">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="id"/>
              <xs:element type="xs:string" name="first-name"/>
              <xs:element type="xs:string" name="last-name"/>
              <xs:element type="xs:string" name="headline"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="title"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>