src/parser/test/data/performance/LinkedIn-v1/schemas/update-xml-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="update">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:long" name="timestamp"/>
        <xs:element type="xs:string" name="update-type"/>
        <xs:element name="update-content">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="company">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:short" name="id"/>
                    <xs:element type="xs:string" name="name"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="company-person-update">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="person">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:int" name="id"/>
                          <xs:element type="xs:string" name="first-name"/>
                          <xs:element type="xs:string" name="last-name"/>
                          <xs:element type="xs:string" name="headline"/>
                          <xs:element type="xs:anyURI" name="picture-url"/>
                          <xs:element name="api-standard-profile-request">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:anyURI" name="url"/>
                                <xs:element name="headers">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="http-header">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="name"/>
                                            <xs:element type="xs:string" name="value"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:byte" name="total"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="site-standard-profile-request">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:anyURI" name="url"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="action">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="code"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="old-position">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="title"/>
                          <xs:element name="company">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="name"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="new-position">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="title"/>
                          <xs:element name="company">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:short" name="id"/>
                                <xs:element type="xs:string" name="name"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>