src/raml1/test/data/vfsTests/test006/schema/NotificeerResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" xmlns:tns="http://namespace.europeesche.nl/notificeerservice" targetNamespace="http://namespace.europeesche.nl/notificeerservice" version="1.0">

	<xs:element name="NotificeerResponse" type="tns:NotificeerResponseType" />

	<xs:complexType name="NotificeerResponseType">
		<xs:sequence>
			<xs:element name="notificatie" type="tns:NotificatieType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NotificatieType">
		<xs:sequence>
			<xs:element name="id" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>